<header>
  <input type="checkbox" name="menu" id="menuIn">
  <label for="menuIn"><img src="../../assets/img/i.png" alt="iconMenu" width="50px" height="50px"></label>
  <div class="desenfoque">
    <div id="caja">
      <a href="">Clientes</a>
      <a href="">Productos</a>
      <a href="">Contacto</a>
      <a href="">Informes</a>
      <div class="search">
        <form action="">
          <input type="search" name="" id="">
        </form>
      </div>
    </div>
  </div>
  <div class="logo">
    LOGO
  </div>
</header>
